$game-area_bg: #f2f2f2;
$cell-active_bg: #c6ddc9;
$puzzle_bg-white: #f6f7f9;
$puzzle_bg-gray: #d6d8dc;
$puzzle_shadow: #e1e1e1;
$side-face_bg: #636363;
$side-face_bg-active: #7c7c7c;
$black: #4e4e4e;
$white: #fff;
$gray: #7c7c7c;
$green: #25eb8f;
$light-green: #bce5d2;
